@font-face {
    font-family: 'roya';
    src: url('pixelboy-BRoya.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0f121f;
    color: #fff;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    margin: 0;
}

a,
a:hover,
a:visited {
    color: #fff;
    text-decoration: none;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}
div.wrapper h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}
nav li{
    display: inline-block;
    margin-left: 20px;
}
nav button{
    background: 0;
    color: #fff;
    border: 0;
    font-size: 1em;
    cursor: pointer;
}
.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.article{
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
}
.articles .article{
    width: 300px;
    overflow: hidden;
}
.article h2{
    font-size: 1.2em;
    text-align: center;
    border-bottom: 2px dashed #fff;
    padding-bottom: 10px;
}
.article p.text{
    width: 98%;
    word-wrap: break-word;
}
.article .author{
    background-color: #00dba0;
    color: #0f121f;
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
}
.article-detail .article{
    padding: 0;
}
.article-detail .article img{
    display: block;
    max-width: 98%;
    margin: 10px auto;
}
.article-detail .article h1{
    text-align: center;
    margin: 30px auto;
}
.article-detail .article p{
    text-align: center;
}
.article-detail .article p.body{
    text-align: justify;
    max-width: 98%;
    margin: 0 auto;
    overflow: hidden;
    word-wrap: break-word;
}
.article-detail .article p.date{
    color: coral;
    border-top: 2px dashed #fff;
    padding-top: 10px;
}